.button{
    padding: 5px 5px;
    display: inline;
    
}

.listItem{
    display: flex;
    flex-direction: row;
    background-color:lightgray;
    padding: 10px 10px; 
    outline: 2px solid black;
}