.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width:  20%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
}

.leftSide {
  width: 35%;
  margin-right: 5%;
  float: left;
}

.rightSide {
  width: 60%;
  float: left;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover, deleteButton:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.language {
  display:inline;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width:  10%;
  border: none;
  text-align: left;
  font-size: 15px;
}

.button{
  padding: 5px 5px;
  display: inline;

}

.listItem{
    background-color:lightgray;
    /*width: 50%;*/
    padding: 10px 10px;
    outline: 2px solid black;
    outline-offset: -1px;
}

.section{
}

.registeredUserOnly{
  background-color: green;
  margin-left: 20px;
}